{{- $v := .Values }}

nameOverride: httpbin
fullnameOverride: httpbin

resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    cpu: 50m
    memory: 64Mi
podAnnotations:
  policy.otomi.io/ignore: banned-image-tags

{{- with $v.otomi | get "globalPullSecret" nil }}
imagePullSecrets:
  - name: otomi-pullsecret-global
{{- end }}
