{{- $v := .Environment.Values }}
{{- $httpbin := $v.charts | get "httpbin" dict }}
{{- $addIgnorePolicyAnnotation := readFile "../../helmfile.d/utils/addIgnorePolicyAnnotation.gotmpl" }}

nameOverride: httpbin
fullnameOverride: httpbin

resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    cpu: 50m
    memory: 64Mi
podAnnotations:
{{- tpl $addIgnorePolicyAnnotation (list "psp-allowed-users" "banned-image-tags") | nindent 2 }}
