{{- $v := .Environment.Values }}
{{- $httpbin := $v.charts | get "httpbin" dict }}

nameOverride: httpbin
fullnameOverride: httpbin

resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    cpu: 50m
    memory: 64Mi
podAnnotations:
  policies.otomi.io/ignore: "pspallowedusers,bannedimagetags"
