{{- $v := .Values.charts | get "pullsecret-patcher" dict }}
registry:
  username: {{ $v.registry.username }}
  password: {{ $v.registry.password }}
  {{- with $v.registry | get "server" nil }}
  server: {{ . }}
  {{- end }}
  {{- with $v.registry | get "email" nil }}
  email: {{ . }}
  {{- end }}
env:
  CONFIG_DEBUG: true
{{- with $v | get "env" nil }}   
{{- . | toYaml | nindent 2 }}
{{- end }}