{{ $v := .Environment.Values }}
global:
  hosts:
    domain: {{ $v.domain }}
    https: true
  ingress:
    annotations:

gitlab:
  unicorn:
    ingress:
      tls:
        secretName: gitlab-tls

registry:
  ingress:
    tls:
      secretName: registry-tls

nodeSelector:
  cloud.google.com/gke-nodepool: nodes
  