{{ $v := .Environment.Values }}
{{- $domain := printf "%s%s.%s" $v.cluster.teamPrefix "admin" $v.cluster.domain }}
global:
  hosts:
    domain: {{ $domain }}
    https: true

nodeSelector:
  cloud.google.com/gke-nodepool: nodes
  