{{ $v := .Environment.Values }}
{{- $cluster := index $v.clusters $v.provider }}
{{- $domain := printf "k8s-%s.%s" $v.stage $cluster.host }}
global:
  hosts:
    domain: {{ $domain }}
    https: true

nodeSelector:
  cloud.google.com/gke-nodepool: nodes
  