{{ $v := .Values }}
{{- $domain := printf "team-%s.%s" "admin" $v.cluster.domainSuffix }}
global:
  hosts:
    domain: {{ $domain }}
    https: true

{{- if eq $v.cluster.provider "google" }}
nodeSelector:
  cloud.google.com/gke-nodepool: nodes
{{- end }}

{{- with .Values.otomi | get "globalPullSecret" nil }}
imagePullSecrets:
  - name: otomi-pullsecret-global
{{- end }}
  