{{- $v := .Environment.Values }}
{{- $domain := printf "%s%s.%s" $v.otomi.teamPrefix "admin" $v.cluster.domain }}
domain: {{ $domain }}
toolsVersion: {{ $v.toolsVersion }}
toolsResources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
