{{- $v := .Environment.Values }}
{{- $cluster := index $v.clusters $v.provider }}
{{- $domain := printf "team-admin.%s.%s" $v.stage $cluster.host }}
domain: {{ $domain }}
customerLabels: {{ toYaml $v.customerLabels | nindent 2 }}
istioEnabled: true
global:
  istioEnabled: true
toolsVersion: {{ $v.toolsVersion }}