{{- $v := .Environment.Values }}
{{- $domain := printf "%s%s.%s" $v.cluster.teamPrefix "admin" $v.cluster.domain }}
domain: {{ $domain }}
customerLabels: {{ toYaml $v.customerLabels | nindent 2 }}
istioEnabled: true
global:
  istioEnabled: true
toolsVersion: {{ $v.toolsVersion }}