git:
  url: "ssh://git@github.com/redkubes/otomi-stack.git"
  readonly: true
  pollInterval: "525600m"
  secretName: flux-ssh
  path: tests/ # does not contain any manifests, so git won't sync...only registry updates will happen
  ciSkip: true
memcached:
  maxItemSize: 10m
registry:
  automationInterval: "5m"
  # Maximum registry requests per second per host
  rps: 200
  trace: false

