# will bypass docker but expects all binaries present on host
VERBOSITY=2
# will disable contacting the cluster as found in kube context:
DISABLE_SYNC=1
# uncommenting the NEXT 2 lines will disable DEV mode to test more closely to the real deal
# NOT_CORE=1
# NODE_PATH=dist
# ENV_DIR=''

# KMS access from here on
SOPS_AGE_KEY=''

OTOMI_CHARTS_URL='https://github.com/linode/apl-charts.git'

RETRIES=6
RANDOM=false
MIN_TIMEOUT=10000
FACTOR=1
