# will bypass docker but expects all binaries present on host
IN_DOCKER=1
VERBOSITY=2
# will disable contacting the cluster as found in kube context:
DISABLE_SYNC=1
# uncommenting the NEXT 2 lines will disable DEV mode to test more closely to the real deal
# NOT_CORE=1
# NODE_PATH=dist
# ENV_DIR=''

# KMS access from here on
# Google (paste json key here without newlines nor spaces and double quotes escaped)
GCLOUD_SERVICE_KEY="\"some\":\"key\""
# Azure:
AZURE_TENANT_ID=''
AZURE_CLIENT_ID=''
AZURE_CLIENT_SECRET=''
# AWS:
AWS_DEFAULT_REGION=''
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
# Vault:
VAULT_TOKEN=''

OTOMI_CHARTS_URL='https://github.com/redkubes/otomi-charts.git'
