# we don't allow json files in the root except package.json
.history
.tmp
*.bak
node_modules/
/coverage/
/dist/
/env/
*.DS_Store
.vscode/values-schema.yaml
*.env
/.secrets
chart/apl/values.schema.json
chart/apl/README.md
workflow/
*.new
.envrc
otomi.cpuprofile
/.idea/
tmp
**values-repo.yaml
# Local lab credential dump written by SETUP.md step 9. Never commit this.
passwords.txt
