---
# see https://github.com/mozilla/sops
creation_rules:
    - path_regex: 'secrets.*.yaml'
      
      # Google KMS
      gcp_kms: projects/demo/locations/europe-west4/keyRings/demo/cryptoKeys/vault
      
      # Encrypt with AWS KMS (comma separated arn list):
      # kms: 'arn:aws:kms:*,arn:aws:kms*'
      
      # Encrypt with Azure Key Vault's (comma separated vault endpoint list)
      # azure_keyvault: 'https://sops.vault.azure.net/keys/sops-key/some-string'
      
      # Encrypt with Vault 
      # hc_vault_transit_uri: "$VAULT_ADDR/v1/sops/keys/firstkey"
      