apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .name }}
  namespace: {{ if .hasCloudLB }}ingress{{ else }}istio-system{{ end }}
spec:
  secretName: {{ .name }}
  commonName: '{{ .domain }}'
  dnsNames:
  - '{{ .domain }}'
  issuerRef:
    kind: ClusterIssuer
    name: {{ .clusterIssuerName }}
  usages:
    {{- if eq .issuer "custom-ca" }}
    - server auth
    {{- else }}
    - digital signature
    - key encipherment
    - ocsp signing
    {{- end }}
