{{- $r := .Environment.Values.release }}
{{ readFile "../snippets/defaults.yaml" }}
{{ readFile "../snippets/repos.yaml" }}

releases:
  - name: {{ $r.name }}
    namespace: {{ $r.namespace }}
    chart: ../../charts/{{ $r.chart }}
    missingFileHandler: Warn
    values:
      - nameOverride: {{ $r | getOrNil "nameOverride" }}
      - ../../values/{{ $r.chart }}/{{ $r.chart }}.gotmpl
      - ../../values/{{ $r.chart }}/{{ $r.chart }}-customer.gotmpl
      - ../../values/default.gotmpl