{{- $v := .Values }}
{{- $n := $v.charts | get "nginx-ingress" }}
resources:
{{- range $ingress := $v.ingress }}
- apiVersion: networking.k8s.io/v1
  kind: IngressClass
  metadata:
    labels:
      app.kubernetes.io/component: controller
    name: {{ $ingress.className }}
    {{- if eq $ingress.className "platform" }} 
    annotations:
      ingressclass.kubernetes.io/is-default-class: "true"
    {{- end }}
  spec:
    controller: "otomi.io/ingress-{{ $ingress.className }}"
{{- end }}