{{- $v := .Values }}
{{- $c := $v.apps | get "host-mods" }}

isChart: {{ ne (env "VALUES_INPUT" | default "") "" }}

customCa: |
  {{- $v._derived.caCert | toYaml | nindent 2 }}
registryUrl: {{ printf "harbor.%s" $v.cluster.domainSuffix }}

certDir: {{ $c | get "certDir" nil }}
updateCmd: {{ $c | get "updateCmd" nil }}

priorityClassName: otomi-critical

{{- with $v._files | get "otomi.globalPullSecret" nil }}
imagePullSecrets:
  - otomi-pullsecret-global
{{- end }}
