{{- $v := .Values }}
{{- $t := $v.apps.tekton }}

controller:
  resources: {{- $t.resources.pipelinesController | toYaml | nindent 4 }}

remoteresolver:
  resources: {{- $t.resources.pipelinesRemoteresolver | toYaml | nindent 4 }}

events:
  resources: {{- $t.resources.pipelinesEvents | toYaml | nindent 4 }}

webhook:
  resources: {{- $t.resources.pipelinesWebhook | toYaml | nindent 4 }}