{{- $v := .Values }}
{{- $o := $v.apps | get "apl-operator" }}
image:
  {{- if $v.otomi.linodeLkeImageRepository }}
  repository: "{{ $v.otomi.linodeLkeImageRepository }}/docker/linode/apl-core"
  {{- end }}
  tag: {{ $v.otomi.version }}

{{- with $v.otomi | get "globalPullSecret" nil }}
imagePullSecretNames:
  - otomi-pullsecret-global
{{- end }}

resources: {{- toYaml $o.resources.operator | nindent 2 }}
