
{{- $v := .Values }}
{{- $d := $v | get "charts.aws-ebs-csi-driver" }}

resources:
{{- with $d | get "resources" nil }}
  {{- . | toYaml | nindent 2 }}
{{- else }}  
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
{{- end }}

{{- with $v.otomi | get "globalPullSecret" nil }}
image:
  pullSecrets:
    - otomi-pullsecret-global
{{- end }}
