{{- $v := .Values }}
{{- $c := $v.apps }}
{{- $g := $c.gitea }}
{{- $k := $c.keycloak }}
{{- $teamConfig := dict }}
{{- range $teamId, $team := $v.teamConfig }}
  {{- $teamSettings := $team.settings }}
  {{- $_ := set $teamConfig $teamId (dict "selfService" (dict "apps" ($teamSettings | get "selfService.apps" list))) }}
{{- end }}
{{- $teamConfig = $teamConfig | toJson }}

resources:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: apl-gitea-operator-cm
      namespace: apl-gitea-operator
    data:
      hasArgocd: "{{ $v.apps.argocd.enabled | toString }}"
      domainSuffix: "{{ $v.cluster.domainSuffix }}"
      teamConfig: {{ $teamConfig | toJson }}
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: apl-gitea-operator
      namespace: apl-gitea-operator
    spec:
      refreshInterval: 1m
      secretStoreRef:
        name: core-secrets-store
        kind: ClusterSecretStore
      target:
        name: apl-gitea-operator-secret
        creationPolicy: Owner
        template:
          type: Opaque
          data:
            giteaPassword: "{{ `{{ .giteaPassword }}` }}"
            oidcClientId: {{ $v._derived.oidcClientID }}
            oidcClientSecret: "{{ `{{ .oidcClientSecret }}` }}"
            oidcEndpoint: {{ $v._derived.oidcBaseUrl }}
      data:
        - secretKey: giteaPassword
          remoteRef:
            key: gitea
            property: adminPassword
        - secretKey: oidcClientSecret
          remoteRef:
            key: {{ $v._derived.oidcClientSecretKey }}
            property: {{ $v._derived.oidcClientSecretProperty }}
