{{- $v := .Environment.Values }}
{{- $r := $v.charts | get "redis" dict }}
cluster:
  enabled: false
persistence:
  size: 1Gi
usePassword: false
master:
  priorityClassName: "system-cluster-critical"
slave:
  priorityClassName: "system-cluster-critical"
metrics:
  priorityClassName: "system-cluster-critical"
# password: bla
