{{- $v := .Values }}
resources:
{{- range $ingress := $v.ingress.classes }}
- apiVersion: networking.k8s.io/v1
  kind: IngressClass
  metadata:
    labels:
      app.kubernetes.io/component: controller
    name: {{ $ingress.className }}
    {{- if eq $ingress.className $v.ingress.platformClass.className }} 
    annotations:
      ingressclass.kubernetes.io/is-default-class: "true"
    {{- end }}
  spec:
    controller: "k8s.io/{{ $ingress.className }}"
{{- end }}