{{- $v := .Values }}
{{- $o := $v.apps | get "opa-exporter" }}

selectorLabels:
  app: opa-exporter

serviceAccount:
  create: true
  name: sa-opa-exporter

securityContext:
  runAsUser: 1001

service:
  type: ClusterIP
  name: constraints
  port: 9141
  targetPort: 9141

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi
