metrics:
  enabled: true

monitoring:
  enabled: true
  serviceMonitor:
    labels:
       release: prometheus-operator
       prometheus: system
sourceFilters:
  - selector:
      source: KyvernoValidatingPolicy
    uncontrolledOnly: false
    disableClusterReports: false
    kinds:
      exclude: [ReplicaSet]
