{{ $v := .Values }}
{{- $g := $v.apps.glasnostic }}

hostPort: {{ $g.hostPort }}
networkKey: {{ $g.networkKey }}
certManager: {{ $g.certManager | toYaml | nindent 2 }}
podSecurityContext:
  runAsUser: 1001