{{- $v := .Values }}

global:
  security:
    allowInsecureImages: true

image:
{{- if $v.otomi.linodeLkeImageRepository }}
  registry: "{{ $v.otomi.linodeLkeImageRepository }}"
  repository: docker/valkey/valkey
{{- else }}
  registry: docker.io
  repository: valkey/valkey
{{- end }}
  tag: 8.1.3

auth:
  password: changeme

architecture: standalone
