{{- $v := .Values }}

global:
  security:
    allowInsecureImages: true
  {{- with $v.cluster | get "defaultStorageClass" nil }}
  defaultStorageClass: {{ . | quote }}
  {{- end }}

image:
{{- if $v.otomi.linodeLkeImageRepository }}
  registry: "{{ $v.otomi.linodeLkeImageRepository }}"
  repository: docker/valkey/valkey
{{- else }}
  registry: docker.io
  repository: valkey/valkey
{{- end }}
  tag: 8.1.3

auth:
  existingSecret: gitea-valkey
  existingSecretPasswordKey: password

architecture: standalone

extraDeploy:
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: gitea-valkey
    spec:
      refreshInterval: 1m
      secretStoreRef:
        name: core-secrets-store
        kind: ClusterSecretStore
      target:
        name: gitea-valkey
        creationPolicy: Owner
      data:
        - secretKey: password
          remoteRef:
            key: gitea
            property: valkeyPassword
