{{- $v := .Values }}

resources:
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: oauth2-proxy
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: oauth2-proxy
        creationPolicy: Owner
        immutable: true
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32-base64
          rewrite:
            - regexp:
                source: password
                target: cookieSecret
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: keycloak
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: keycloak
        creationPolicy: Owner
        immutable: true
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: idpClientSecret
{{- if $v.apps.gitea.enabled }}
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: gitea
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: gitea
        creationPolicy: Owner
        immutable: true
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: adminPassword
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: valkeyPassword
{{- end }}
