{{- $v := .Values }}

resources:
{{- if $v.apps.gitea.enabled }}
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: gitea
      namespace: apl-secrets
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: gitea
        creationPolicy: Owner
        immutable: true
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: adminPassword
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: valkeyPassword
{{- else }}
  []
{{- end }}
