{{- $v := .Values }}

resources:
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: otomi
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: otomi
        creationPolicy: Owner
        immutable: true
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: random-32
          rewrite:
            - regexp:
                source: password
                target: adminPassword
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: oauth2-proxy
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: oauth2-proxy
        creationPolicy: Owner
        immutable: true
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32-base64
          rewrite:
            - regexp:
                source: password
                target: cookieSecret
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: keycloak
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: keycloak
        creationPolicy: Owner
        immutable: true
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: idpClientSecret
{{- if $v.apps.gitea.enabled }}
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: gitea
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: gitea
        creationPolicy: Owner
        immutable: true
        template:
          data:
            adminUsername: {{ $v.apps.gitea.adminUsername | quote }}
            adminPassword: "{{ `{{ .adminPassword }}` }}"
            valkeyPassword: "{{ `{{ .valkeyPassword }}` }}"
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: adminPassword
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
          rewrite:
            - regexp:
                source: password
                target: valkeyPassword
{{- end }}
{{- if $v.apps.harbor.enabled }}
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: harbor
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: harbor
        creationPolicy: Owner
        immutable: true
        template:
          data:
            registryUsername: {{ $v.apps.harbor.registry.credentials.username | quote }}
            registryPassword: "{{ `{{ .password }}` }}"
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
{{- end }}
{{- if $v.apps.loki.enabled }}
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: loki
    spec:
      refreshPolicy: CreatedOnce
      target:
        name: loki
        creationPolicy: Owner
        immutable: true
        template:
          data:
            adminUsername: "otomi-admin"
            adminPassword: "{{ `{{ .password }}` }}"
      dataFrom:
        - sourceRef:
            generatorRef:
              apiVersion: generators.external-secrets.io/v1alpha1
              kind: ClusterGenerator
              name: alpha-num-32
{{- end }}
