{{- $v := .Environment.Values }}
{{- $s := .Environment.Values.secrets }}
{{- $custId := ($v | getOrNil "customer.id" | default "otomi") }}
{{- $bucket := (printf "registry-%s" $custId) }}
templates:
{{- if ($v | getOrNil "gitlab.enabled") }}
  - |
    apiVersion: v1
    kind: Secret
    metadata:
      name: registry-storage
    data:
      config: {{ readFile "./registry-storage-gcs.yaml" | replace "#BUCKET#" $bucket | b64enc }}
      gcs.json: {{- $s.gcsKey | b64enc }}
{{- end }}