{{- $v := .Values }}
{{- $cnpg := $v.apps | get "cnpg" }}

{{- with $v.otomi.linodeLkeImageRepository }}
image:
  registry: {{ . }}
  repository: ghcr/cloudnative-pg/plugin-barman-cloud

sidecarImage:
  registry: {{ . }}
  repository: ghcr/cloudnative-pg/plugin-barman-cloud-sidecar
{{- end }}

priorityClassName: "otomi-critical"

resources: {{- $cnpg.barmanPluginResources | toYaml | nindent 2 }}
