{{- $v := .Values }}
{{- $a := $v.apps.argocd }}
{{- tpl (readFile "../../helmfile.d/snippets/version-tags.gotmpl") $v.versions }}
teams:
  {{- range $teamId, $_ := $v.teamConfig }}
  - {{ $teamId }}
  {{- end }}

{{- with $v.otomi | get "globalPullSecret" nil }}
imagePullSecrets:
  - name: otomi-pullsecret-global
{{- end }}
