{{- $v := .Values }}
{{- $k := $v.apps.keycloak }}
resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: kiali
    data:
      oidc-secret: {{ $k.idp.clientSecret | b64enc }}
{{- if $v._derived.untrustedCA }}
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: kiali-cabundle
    data:
      openid-server-ca.crt: |
        {{- $v._derived.caCertRoot | nindent 8 }}
{{- end }}
