{{ define "teams.card" }}

{{- $cardHeadingLineColor := "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAAAAABqswrmAAAAEElEQVR42mJogEBAAAAA//8ICAIBsBUbsAAAAABJRU5ErkJggg==" }}
{{- $headingColor := "" }}
{{- if eq .Status "resolved" -}}
  {{- $cardHeadingLineColor = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mLQPa6LjAEBAAD//yQwBIUSNPBIAAAAAElFTkSuQmCC" -}}
  {{- $headingColor := "Good" }}
{{- else if eq .Status "firing" -}}
  {{- if eq .CommonLabels.severity "critical" -}}
  {{- $cardHeadingLineColor = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mLokZJCxoAAAAD//xnYAwEPSWrRAAAAAElFTkSuQmCC" }}
  {{- $headingColor := "Attention" }}
  {{- else if eq .CommonLabels.severity "warning" -}}
  {{- $cardHeadingLineColor = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mL4v5QBGQMCAAD//ziMBpHr7M3UAAAAAElFTkSuQmCC" }}
  {{- $headingColor := "warning" }}
  {{- end -}}
{{- end -}}

{
  "type":"message",
  "attachments":[
  {
      "contentType":"application/vnd.microsoft.card.adaptive",
      "contentUrl":null,
      "content":{
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.2",
        "backgroundImage": {
            "url": "{{- $cardHeadingLineColor -}}",
            "fillMode": "RepeatHorizontally"
        },
        "msteams": {
            "width": "Full"
        },
        "body": [
            {
              "type": "TextBlock",
              "text": "Prometheus Alert ({{ .Status | title }})",
              "weight": "bolder",
              "size": "medium",
              "style": "heading",
              "color": "{{- $headingColor -}}"
            },
            {
              "type": "TextBlock",
              "text": "{{- if eq .CommonAnnotations.summary "" -}}
              {{- if eq .CommonAnnotations.message "" -}}
                {{- if eq .CommonLabels.alertname "" -}}
                  Prometheus Alert
                {{- else -}}
                  {{- .CommonLabels.alertname -}}
                {{- end -}}
              {{- else -}}
                {{- .CommonAnnotations.message -}}
              {{- end -}}
          {{- else -}}
              {{- .CommonAnnotations.summary -}}
          {{- end -}}",
              "wrap": true
            },
            {{$externalUrl := .ExternalURL}}
            {{- range $index, $alert := .Alerts }}{{- if $index }},{{- end }}
            {
              "type": "TextBlock",
              "text": "[{{ $alert.Annotations.description }}]({{ $externalUrl }})",
              "wrap": true
            },
            {
              "type": "FactSet",
              "facts": [
                {{- range $key, $value := $alert.Annotations }}
                {
                  {{- if ne $key "description" -}}
                    "title": "{{ $key }}",
                    "value": "{{ $value }}"
                  {{- end -}}
                },
                {{- end -}}
                {{$c := counter}}{{ range $key, $value := $alert.Labels }}{{if call $c}},{{ end }}
                {
                  "title": "{{ $key }}",
                  "value": "{{ $value }}"
                }
                {{- end }}
              ]
            }
          {{- end }}
        ]
      }
  }]
}
{{ end }}
