{{- $v := .Environment.Values }}
{{- $c := $v.charts }}
folders:
  # - k8s
  # - istio
  {{- if and (eq $v.cluster.provider "azure") ($v | getOrNil "azure.monitor") }}
  - azure
  {{- end }}
  {{- if $c.sitespeed.enabled }}
  - sitespeed
  {{- end }}
