{{- $v := .Values }}
{{- $g := $v.apps.gitea }}
{{- $otomiAdmin := "otomi-admin" }}
{{- $obj := $v.obj.provider }}
{{- $giteaBackupConfig := $v.platformBackups.gitea }}
{{- $rcloneVersion := "1.69.0" }}
{{- $rcloneZipSha512 := "35ee43f2c52599f80fcd753f7fef3fd8ad7ddcc4d22025ab67cbcfb9cf516bb819a303f3fe9d79b38593c392fd6c4748cdbc24c87ba2a93fd42c6ebfef0908b0" }}
{{- $rcloneBinSha512 := "cb5de4f3d5a5f03791c19fe25304eac874fa1a5db30867c1b7919bc9a99f1fb30d709b1ad16a18f5ef878952282f376b97001ba48578f2006d8a400a130ee542" }}

resources:
- apiVersion: v1
  kind: Secret
  type: kubernetes.io/basic-auth
  metadata:
    name: gitea-db-secret
  data:
    username: "{{ "gitea" | b64enc }}"
    password: "{{ $g.postgresqlPassword | b64enc }}"
