type: s3
config:
  endpoint: {{ .region }}.linodeobjects.com
  bucket: {{ .buckets.thanos }}
  access_key: {{ .accessKeyId }}
  secret_key: {{ .secretAccessKey }}
  insecure: false
  signature_version2: false