{{- $v := .Values -}}
{{- $o := $v.charts | get "cluster-overprovisioner" dict }}

deployments:
  - name: default
    resources:
      {{- range $type := (list "limits" "requests") }}
      {{ $type }}:
        cpu: {{ $o | get "cpu" "1000m" }}
        memory: {{ $o | get "memory" "1000Mi" }}
      {{- end }}
    annotations:
      policy.otomi.io/ignore: psp-allowed-users

{{- with .Values.otomi | get "globalPullSecret" nil }}
image:
  pullSecrets:
    - otomi-pullsecret-global
{{- end }}
