users:
  - username: otomi-admin
    password: {{ .adminPassword }}
    orgid: admins
  {{- range $id, $team := .teams }}
  - username: {{ $id }}
    password: {{ $team.settings.password }}
    orgid: {{ $id }}
  {{- end }}
