users:
  - username: admins
    password: {{ .adminPassword }}
    orgid: admins
{{/*
  {{- range $id, $team := .teams }}
  - username: {{ $id }}
    password: {{ $team | get "password" "XXXX" }}
    orgId: {{ $id }}
  {{- end }}
*/}}