watchNamespace: "vault"

{{- with .Values.otomi | get "globalPullSecret" nil }}
global:
  imagePullSecrets:
    - otomi-pullsecret-global
{{- end }}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534
  runAsGroup: 65534
  fsGroup: 1337

securityContext:
  runAsNonRoot: true
  runAsUser: 65534
  runAsGroup: 65534
