watchNamespace: "vault"

# @TODO:
image:
  tag: 1.15.2
{{- with .Values.otomi | get "globalPullSecret" nil }}
global:
  imagePullSecrets:
    - otomi-pullsecret-global
{{- end }}

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534
  fsGroup: 1337
