{{- $v := .Values }}
{{- $i := $v.apps.istio }}

{{- with .Values.otomi | get "globalPullSecret" nil }}
global:
  imagePullSecrets:
    - otomi-pullsecret-global
{{- end }}

base:
  defaultRevision: {{ $i.revision | quote }}
