{{- $v := .Values }}
{{- $i := $v.apps.istio }}

{{- with .Values.otomi | get "globalPullSecret" nil }}
global:
  imagePullSecrets:
    - otomi-pullsecret-global
{{- end }}

defaultRevision: {{ $i.revision | default "default" | quote }}
