# GitOps values repo:
GIT_USER=''
GIT_EMAIL=''
GIT_PASSWORD=''
# KMS access from here on
# Google (paste json key here without newlines)
GCLOUD_SERVICE_KEY='{}'
# Azure:
AZURE_TENANT_ID=''
AZURE_CLIENT_ID=''
AZURE_CLIENT_SECRET=''
# AWS:
AWS_DEFAULT_REGION=''
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
# AGE:
SOPS_AGE_KEY=''
