export USER_ID=${UID-}
export GROUP_ID=${GID-}
export CLUSTER_NAME=      # k8s context
export CLUSTER_APISERVER= # k8s api server
# GitOps values repo:
export GIT_USER=
export GIT_EMAIL=
export GIT_PASSWORD=
# KMS access from here on
# Google (paste json key here without newlines)
export GCLOUD_SERVICE_KEY=''
# Azure:
export AZURE_TENANT_ID=''
export AZURE_CLIENT_ID=''
export AZURE_CLIENT_SECRET=''
