{{- $v := .Values }}
{{- $k := $v.apps.kubeclarity }}

global:
  databasePassword: {{ $k | get "databasePassword" }}

kubeclarity-postgresql:
  fullnameOverride: kubeclarity-postgresql

kubeclarity:
  logLevel: {{ $k | get "logLevel" "warning" }}  



