{{- $v := .Values }}
{{- $app := $v.apps | get "sealed-secrets" }}

resources: {{- $app.resources.operator | toYaml | nindent 2 }}

{{- if $v.otomi.linodeLkeImageRepository }}
image:
  registry: "{{- $v.otomi.linodeLkeImageRepository }}/docker"
{{- end }}