{{- $v := .Values }}
{{- $app := $v.apps | get "sealed-secrets" }}

resources: {{- $app.resources.operator | toYaml | nindent 2 }}

{{- if $v.otomi.linodeLkeImageRepository }}
image:
  registry: "{{- $v.otomi.linodeLkeImageRepository }}/docker"
{{- end }}

# A value of 0 will deactivate automatic key renewal, so admins can backup keys during a maintenance window.
keyrenewperiod: 0
