{{- $v := .Values }}
{{- $teams := keys $v.teamConfig.teams }}

type: CronJob
env:
  TEAM_IDS: '{{ $teams | sortAlpha | toJson }}'
name: copy-certs
schedule: "0/3 * * * *" # every 3 minutes
{{ tpl (readFile "../../helmfile.d/snippets/job.gotmpl") (dict "item" "core" "v" $v "task" "copy-certs") }}
