{{- $v := .Values }}
{{- $c := $v.charts }}
{{- $g := $c.gitea }}

type: CronJob
name: gitea-add-users
env:
  GITEA_URL: https://gitea.{{ $v.cluster.domainSuffix }}
  GITEA_REPO: values
nativeSecrets:
  GITEA_PASSWORD: {{ $g.adminPassword }}
schedule: "0/3 * * * *" # every 3 minutes
{{ tpl (readFile "../../helmfile.d/snippets/job.gotmpl") (dict "item" "tasks" "v" $v "task" "gitea-add-users") }}
