{{- $v := .Environment.Values }}
{{- $c := $v.charts }}
tasks:
  harbor-init:
    type: job
    description: Copy letsencrypt cert
    image: otomi/tools:{{ $v.toolsVersion }}
    script: kubectl -n istio-system get secret harbor-{{ $v.cluster.domain | replace "." "-" }} -o yaml --export | kubectl -n harbor apply -f -
