{{- $v := .Environment.Values }}

tasks:
  ingress-azure:
    type: cronjob
    enabled: false
    image: otomi/tools:{{ $v.toolsVersion }}
    config:
      LABELS: "app=ingress-azure"
      NS: ingress
    schedule: "0 * * * *" # once an hour!
    script: |
      {{- readFile "scripts/delete-pod.sh" | nindent 6 }}
