{{- $v := .Values }}
{{- $i := $v.apps | get "istio" }}
hub: istio
tag: {{ $i.image.tag }}
podAnnotations:
  policy.otomi.io/ignore: psp-allowed-users

{{- with $v._files | get "otomi.globalPullSecret" nil }}
imagePullSecrets:
  - otomi-pullsecret-global
{{- end }}
