{{- $v := .Values }}
{{- $i := $v.apps | get "istio" }}
hub: istio
tag: 1.22.5

operatorNamespace: istio-operator

operator:
  resources: {{- $i.resources.operator | toYaml | nindent 6 }}

{{- with .Values.otomi | get "globalPullSecret" nil }}
imagePullSecrets:
  - otomi-pullsecret-global
{{- end }}
