{{- $v := .Values }}
{{- $httpbin := $v | get "charts.hello" dict }}

nameOverride: tlspass
fullnameOverride: tlspass

image:
  tag: latest

resources:
  requests:
    cpu: 10m
    memory: 8Mi
  limits:
    cpu: 100m
    memory: 64Mi

podAnnotations:
  policy.otomi.io/ignore: banned-image-tags

podSecurityContext:
  runAsUser: 1000
