resources:
  - apiVersion: postgresql.cnpg.io/v1
    kind: ClusterImageCatalog
    metadata:
      name: platform
    spec:
      images:
        - major: 15
          image: ghcr.io/cloudnative-pg/postgresql:15.13
        - major: 17
          image: ghcr.io/cloudnative-pg/postgresql:17.5
