{{- $v := .Environment.Values }}
{{- $azureDiskType := (index $v | get "clouds.azure.diskType" "") }}
resources:
{{ tpl (readFile (printf "pv-%s.gotmpl" $v.cluster.provider)) (dict "type" $azureDiskType) }}