{{- $g := .Environment.Values }}
{{- $provider := $g.provider }}
{{- $azureDiskType := $g | get "azure.diskType" "" }}
templates:
{{ readFile (printf "pv-%s.yaml" $provider) | replace "__TYPE" ($azureDiskType | title) }}