{{- $v := .Values }}
{{- $t := $v.apps.trivy }}
{{- $joinTpl := readFile "../../helmfile.d/utils/joinListWithSep.gotmpl" }}

{{- if $v.otomi.linodeLkeImageRepository }}
global:
  image:
    registry: "{{- $v.otomi.linodeLkeImageRepository }}/docker"
{{- end }}

{{ $targets := list }}
  {{- range $id, $_ := $v.teamConfig }}
    {{- $targets = append $targets (print "team-" $id) }}
  {{- end }}
targetNamespaces: "{{- tpl $joinTpl (dict "list" $targets "sep" ",") }}"

operator:
  replicas: {{ $t.operator.replicaCount }}
  metricsVulnIdEnabled: false
  infraAssessmentScannerEnabled: false
  clusterComplianceEnabled: false
  metricsImageInfo: true

service:
  headless: false

serviceMonitor:
  enabled: true
  labels:
    prometheus: system

trivy:
  mode: Standalone
  resources: {{- $t.resources.trivy | toYaml | nindent 4 }}
  ignoreUnfixed: true
  storageSize: {{ $t | get "storage.size" "1Gi" }}
  {{- if $t | get "storageClass" nil }}
  storageClassName: {{ $t.storageClass }}
  {{- else }}
  storageClassName: {{ $v.cluster.defaultStorageClass }}
  {{- end }}

podSecurityContext:
  runAsUser: 1001

resources: {{- $t.resources.operator | toYaml | nindent 2 }}

