{{- $v := .Values }}
{{- tpl (readFile "../../helmfile.d/snippets/version-tags.gotmpl") $v.versions }}

otomi: {{- $v.otomi | toYaml | nindent 2 }}

{{- with $v._files | get "otomi.globalPullSecret" nil }}
imagePullSecrets:
  - name: otomi-pullsecret-global
{{- end }}
