{{- define "html" -}}
{{- $v := .Values -}}
{{- $prefix := $v.prefix -}}
<html>
  <head>
    <title>{{ $prefix }}k8s.otomi.cloud</title>
    <style>
      body {
        background-color: lightgrey;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }
      header {
        text-align: center;
        background-color: red;
        color: white;
      }
      main a {
        color: red;
      }
      main {
        font-size: 2vw;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>service index for {{ $prefix }}{{ $v.cluster }}</h1>
    </header>
    <main>
      <h3>Services</b></h3>
      {{ range $svc := $v.services }}
      <p><a target="_blank" href="https://{{ $svc }}.{{ $prefix }}{{ $v.cluster }}">{{ $svc }}</a></p>
      {{- end }}
      <h3>Websites</b></h3>
      {{ range $site := $v.sites }}
      <p><a target="_blank" href="https://{{ $site }}">{{ $site }}</p>
      {{- end }}
    </main>
  </body>
</html>
{{- end -}}