{{- $v := .Values }}
{{- $g := $v.apps | get "git-server" dict }}
repoName: otomi/values.git
branchName: {{ $v.otomi.git.branch | quote }}
auth:
  username: {{ $v.otomi.git.username | quote }}
  password: {{ $v.otomi.git.password | quote }}
{{- with $v.cluster | get "defaultStorageClass" nil }}
persistence:
  storageClass: {{ . | quote }}
{{- end }}
resources:
  {{- $g | get "resources" dict | toYaml | nindent 2 }}
