{{- $v := .Values }}
{{- $app := $v.apps | get "external-secrets" }}

replicaCount: 1

resources: {{- $app.resources.operator | toYaml | nindent 2 }}

global:
  nodeSelector: {{- toYaml $v.otomi.nodeSelector | nindent 4 }}
  {{- with $v.otomi.linodeLkeImageRepository }}
  repository: "{{ . }}/ghcr/external-secrets/external-secrets"
  {{- end }}

openshiftFinalizers: false

{{/* Rendered templates are included statically as part of the chart. */}}
installCRDs: false

{{/* Currently not including CRDs for these until needed. */}}
processClusterExternalSecret: false
processClusterPushSecret: false
