{{- $v := .Values }}
{{- $app := $v.apps | get "sealed-secrets" }}

replicaCount: 1

resources: {{- $app.resources.operator | toYaml | nindent 2 }}

{{- if $v.otomi.linodeLkeImageRepository }}
image:
  repository: "{{- $v.otomi.linodeLkeImageRepository }}/ghcr/external-secrets/external-secrets"
{{- end }}
