# npm run update-helm-chart-deps
CI_UPDATE_TYPE='major'
CI_GH_CREATE_PR='false'
CI_GIT_BASELINE_BRANCH='ci-add-charts'
CI_GIT_LOCAL_BRANCH_ONLY='true'

# npm run release:*
BUMP_TYPE='major'
RELEASE_BRANCH=releases/v6.0
REPO=test/test
LOCAL_CACHE_IMAGE=apl-core:ci-build
BOT_EMAIL=test@test.localhost
BOT_USERNAME=testbot
DOCKER_USERNAME=dockerbot
DOCKER_PASSWORD=***
RELEASE_TAG=v6.0.0
IS_PRERELEASE=false
DRY_RUN=true
GITHUB_TOKEN=***
