{{- $v := .Values }}
{{- $k := $v.apps.knative -}}

knative_operator:
  knative_operator:
    resources: {{- $k.resources.operator | toYaml | nindent 4 }}

  operator_webhook:
    resources: {{- $k.resources.operatorWebhook | toYaml | nindent 4 }}
