{{- $v := .Environment.Values }}

# Select namespaces where mutating admission webhook should injects (in a very non-intrusive way) the vault-env executable into containers of Deployments and StatefulSets. This executable can request secrets from Vault through special environment variable definitions.
namespaceSelector:
  matchExpressions:
    - key: name
      operator: NotIn
      values:
        {{- range $v.k8s.namespaces }}
        - {{ .name }}
        {{- end }}

 