{{- $ev := .Environment.Name }}
{{- $v := .Environment.Values }}
ingress:
  enabled: true
  annotations:
    {{- readFile "../_snippets/ingress-annotations.yaml" | nindent 4 }}
    {{- readFile "../_snippets/auth-annotations.yaml" | nindent 4 }}
  paths:
    - /
  hosts:
    - blackbox.{{ $v.cluster }}
  tls:
    - secretName: blackbox-tls
      hosts:
        - blackbox.{{ $v.cluster }}
