{{- $v := .Values }}
{{- $m := $v.apps | get "metrics-server" }}

extraArgs: {{- $m.extraArgs | toYaml | nindent 2 }}

apiService:
  create: {{ $m.apiServer.create }}

resources: {{- toYaml $m.resources | nindent 2 }}

{{- with $v._files | get "otomi.globalPullSecret" nil }}
global:
  imagePullSecrets:
    - otomi-pullsecret-global
{{- end }}
