bases:
  - snippets/defaults.yaml
---
bases:
  - snippets/defaults.gotmpl
---
bases:
  - snippets/env.gotmpl
---
bases:
  - snippets/derived.gotmpl
---
{{ readFile "snippets/templates.gotmpl" }}
{{- $v := .Values }}
{{- $a := $v.apps }}
{{- $tca := $v.teamConfig.admin }}
{{- $coreAdminServices := list }}
{{- range $s := $v.adminApps }}
{{- if and ($v.apps | get $s.name dict | get "enabled" true) (hasKey $s "ingress") }}
{{- range $ing := $s.ingress }}
{{- $svc := merge $ing (dict "isCore" true "name" $s.name "isShared" ($s | get "isShared" false) "ownHost" ($s | get "ownHost" false)) }}
{{- $coreAdminServices = append $coreAdminServices $svc }}
{{- end }}
{{- end }}
{{- end }}

{{- $services := list }}
{{- range $s := $coreAdminServices }}
{{- $ingressClass := $v.ingress.platformClass.className }}
{{- $svc := merge $s (dict "ingressClassName" $ingressClass ) }}
{{- $services = append $services $svc }}
{{- end }}
{{- $services = concat $services ($tca | get "services" list) }}

releases:
  - name: team-ns-admin
    installed: true
    namespace: team-admin
    chart: ../charts/team-ns
    labels:
      ingress: 'true'
      team: admin
      pipeline: otomi-task-teams
    values:
      - ../values/team-ns/team-ns.gotmpl
      - name: admin
        teamId: admin
        otomi: {{- $v.otomi | toYaml | nindent 10 }}
        services: {{- $services | toYaml | nindent 10 }}
        networkPolicy: null
        resourceQuota: null
