bases:
  - snippets/defaults.yaml
---
bases:
  - snippets/env.gotmpl
---
bases:
  - snippets/derived.gotmpl
---
{{ readFile "snippets/templates.gotmpl" }}
{{- $v := .Values }}
{{- $a := $v.apps }}

releases:
  - name: headlamp
    installed: {{ $a | get "headlamp.enabled" }}
    namespace: headlamp
    labels:
      pkg: headlamp
      app: core
    <<: *default
