{{- $v := .Values }}

resources:
- apiVersion: external-secrets.io/v1
  kind: ExternalSecret
  metadata:
    name: turnstone-db-secret
  spec:
    refreshInterval: 5m
    secretStoreRef:
      name: core-secrets-store
      kind: ClusterSecretStore
    target:
      name: turnstone-db-secret
      creationPolicy: Owner
      template:
        type: kubernetes.io/basic-auth
        data:
          username: {{ $v._derived.turnstoneDbUsername }}
          password: '{{ "{{ .postgresqlPassword | toString }}" }}'
    data:
      - secretKey: postgresqlPassword
        remoteRef:
          key: turnstone-secrets
          property: postgresqlPassword
