{{- $teamId := .Release.Labels.team }}

resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi

namespace: team-{{ $teamId }}

args:
  - --port=9097
  - --logout-url=
  - --pipelines-namespace=tekton-pipelines
  - --triggers-namespace=tekton-pipelines
  - --read-only=true
  - --log-level=info
  - --log-format=json
  - --namespaces=team-{{ $teamId }}
  - --stream-logs=true
  - --external-logs=