resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi

args:
  - --port=9097
  - --logout-url=
  - --pipelines-namespace=tekton-pipelines
  - --triggers-namespace=tekton-pipelines
  - --read-only=false
  - --log-level=info
  - --log-format=json
  - --namespace=tekton-pipelines
  - --stream-logs=true
  - --external-logs=