# operator_namespace: operators
debug: true

namespace: olm
catalog_namespace: olm
operator_namespace: operators
monitoring:
  enabled: false
  namespace: monitoring

catalog:
  resources:
    limits:
      cpu: 400m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 64Mi
olm:
  resources:
    limits:
      cpu: 400m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 64Mi
