{{- $v := .Environment.Values }}
clusterName: otomi-eks-{{ $v.cluster.name }}
autoDiscoverAwsRegion: true
# autoDiscoverAwsRegion: false
autoDiscoverAwsVpcID: true
# autoDiscoverAwsVpcID: false
# awsVpcID: {{ $v.cluster.vpcID }}
# awsRegion: {{ $v.cluster.region }}
