{{- $v := .Values }}
{{- $metalLBSubnet := requiredEnv "METALLB_SUBNET" }}

global:
  configInline:
    address-pools:
    - name: kind
      protocol: layer2
      addresses:
      - {{ $metalLBSubnet }}
  domain: {{ $v.cluster.domainSuffix }}