{{- $v := .Values }}
{{- $g := $v.apps.gitea }}
{{- $kms := $v | get "kms" dict }}


kms: {{- $kms | toYaml | nindent 2 }}

giteaPassword: {{ $g.adminPassword }}
otomiVersion: {{ $v.otomi.version }}

cloneUnsecure: true


tektonTask:
  resources:
    # Tekton Task pod resouce limits and requests
    requests:
      cpu: '50m'
    limits:
      cpu: '2'