{{- $v := .Environment.Values }}
{{- $c := $v.cluster }}
{{- $o := index $v.charts "otomi-api" }}

image:
  registry: eu.gcr.io
  repository: otomi-cloud/otomi-stack-api
  tag: {{ $o.image.tag }}

git:
  repoUrl: {{ $o.git.repoUrl }}
  localPath: "/tmp/otomi-stack"
  user: {{ $o.git.user }}
  email: {{ $o.git.email }}
  password: {{ $o.git.password }}

env:
  CLUSTER: {{ printf "%s/%s" $c.provider $c.name }}