{{- $v := .Environment.Values }}
{{- $o := $v.charts.otomiApi }}

resources:
  - apiVersion: v1
    data:
      .dockerconfigjson: {{ $o.secret.gcr.data }}
    kind: Secret
    metadata:
      name: {{ $o.secret.gcr.secretName }}
    type: kubernetes.io/dockerconfigjson
