{{ $v:=.Values}}

resources:
{{- range $item:=$v.teamConnectivity }}
{{- $server := $item.server }}
{{- $serverSubdomain:= printf "conn-%s" (index $server.labels "otomi.io/app") }}
{{- $serverHostname:= printf "server-%s" (index $server.labels "otomi.io/app") }}
{{- $serverUrl:= printf "%s.%s.svc.cluster.local" $serverSubdomain $server.namespace }}

# Server

- apiVersion: v1
  kind: Service
  metadata:
    name: {{ $serverSubdomain }}
    namespace: {{ $server.namespace}}
  spec:
    selector: {{- $item.server.labels | toYaml | nindent 6 }}
    type: ClusterIP
    ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
- apiVersion: v1
  kind: Pod
  metadata:
    labels: {{- $item.server.labels | toYaml | nindent 6 }}
      module: connectivity
    name: {{ $serverHostname }}
    namespace: {{ $server.namespace}}
  spec:
    hostname: {{ $serverHostname }}
    subdomain: {{ $serverSubdomain }}
    containers:
      - name: server
        args:
          - -listen=:8080
          - -text="Connected"
        env:
          - name: PORT
            value: '8080'
        ports:
          - containerPort: 8080
        resources:
          limits:
            cpu: 50m
            memory: 64M
        image: hashicorp/http-echo
        imagePullPolicy: IfNotPresent
        readinessProbe:
          httpGet:
            path: /
            port: 8080
        livenessProbe:
          httpGet:
            path: /
            port: 8080

{{- range $client:=$item.clients }}
{{- $clientName:= printf "client-%s-%s-to-%s-%s" (index $client.labels "otomi.io/app")  $client.namespace (index $server.labels "otomi.io/app") $server.namespace}}
- apiVersion: v1
  kind: Pod
  metadata:
    labels: {{- $client.labels | toYaml | nindent 6 }}
      module: connectivity
      type: client
    name: {{ $clientName }}
    namespace: {{ $client.namespace}}
  spec:
    hostNetwork: false
    subdomain: connectivity
    restartPolicy: Never
    containers:
      - name: server
        args:
          - -listen=:8080
          - -text="Connected"
        env:
          - name: PORT
            value: '8080'
        ports:
          - containerPort: 8080
        resources:
          limits:
            cpu: 50m
            memory: 64M
        image: hashicorp/http-echo
        imagePullPolicy: IfNotPresent
        readinessProbe:
          httpGet:
            path: /
            port: 8080
        livenessProbe:
          httpGet:
            path: /
            port: 8080
      - name: client
        args:
          - -sS
          - --fail
          - --connect-timeout
          - '5'
          - -o
          - /dev/null
          - --retry
          - '5'
          - --retry-delay
          - '5'
          - --retry-connrefused
          - -w 
          - 'URL=%{url_effective} HttpCode=%{http_code}\n'
          - http://{{ $serverUrl }}:8080/
        resources:
          limits:
            cpu: 50m
            memory: 64M
        image: curlimages/curl:7.80.0
        imagePullPolicy: IfNotPresent
{{- end }} {{/* range clients */}}
{{- end }} {{/* range */}}

{{- range $client:=$v.egressPublic }}
{{- range $host:=$client.hosts }}
{{- $clientName := printf "client-%s-%s-%s" (index $client.labels "otomi.io/app")  $client.namespace ($host | replace "://" "-" | replace "/" "-" | replace "." "-" | replace "::" "-" | replace ":" "-") }}

- apiVersion: v1
  kind: Pod
  metadata:
    labels: {{- $client.labels | toYaml | nindent 6 }}
      module: connectivity
      type: client
    name: {{ $clientName }}
    namespace: {{ $client.namespace}}
  spec:
    hostNetwork: false
    subdomain: connectivity
    restartPolicy: Never
    containers:
      - name: server
        args:
          - -listen=:8080
          - -text="Connected"
        env:
          - name: PORT
            value: '8080'
        ports:
          - containerPort: 8080
        resources:
          limits:
            cpu: 50m
            memory: 64M
        image: hashicorp/http-echo
        imagePullPolicy: IfNotPresent
        readinessProbe:
          httpGet:
            path: /
            port: 8080
        livenessProbe:
          httpGet:
            path: /
            port: 8080
      - name: client
        args:
          - -sS
          - --insecure
          - --fail
          - --connect-timeout
          - '5'
          - -o
          - /dev/null
          - --retry
          - '10'
          - --retry-delay
          - '5'
          - --retry-connrefused
          - -w 
          - 'URL=%{url_effective} HttpCode=%{http_code}\n'
          - {{$host}}
        resources:
          limits:
            cpu: 50m
            memory: 64M
        image: curlimages/curl:7.80.0
        imagePullPolicy: IfNotPresent


{{- end }} {{/* range range $host:=$client.hosts */}}
{{- end }} {{/* range $v.teamConnectivity */}}