{{- $v := .Environment.Values }}
{{- $s := $v.charts.sitespeed }}
sites: {{- $v.sites | toYaml | nindent 2 }}
schedule: {{- $s.schedule | toYaml | nindent 2 }}
pvc:
  results: {{ $s.pvc.results }}
  graphite: {{ $s.pvc.graphite }}
config:
  storageSchemas: |
    [carbon]
    pattern = ^carbon\.
    retentions = 60:1d

    [sitespeed]
    pattern = ^sitespeed_io\.
    retentions = {{ $s.retention }}

    [catch_them_all]
    pattern = .*
    retentions = {{ $s.retention }}
