body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: rgba(256, 256, 256, 0.8);
}
a {
  color: rgba(256, 256, 256, 0.8);
  transition: all 0.2s;
}
a:hover {
  color: white;
}
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  user-select: none;
}
h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.sub {
  color: rgba(256, 256, 256, 0.8);
  font-size: 1.2em;
  margin-top: 0.4em;
}
.sub .hl {
  color: orange;
}

h2 {
  margin-top: 2em;
  margin-bottom: 5px;
}
h2 span {
  font-weight: 100;
  color: darkgray;
}
nav {
  background: #222;
  padding: 1em;
  color: rgba(256, 256, 256, 0.5);
  display: flex;
  justify-content: space-between;
}
.env-links {
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-top: 0.15em;
}
nav a {
  color: rgba(256, 256, 256, 0.5);
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover,
nav a.active {
  color: white;
}
.user-menu {
  float: right;
  display: flex;
  align-items: center;
}
.user-menu img {
  width: 30px;
  margin-left: 0.8em;
}
main {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  padding: 2em 3em;
  box-sizing: border-box;
  overflow-x: hidden;
}
.img-wrapper {
  width: 80px;
  text-align: center;
}
.tile {
  display: flex;
  padding: 1em;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 140px;
  border-radius: 3px;
  margin: 5px;
  transition: all 0.2s;
  background: rgba(256, 256, 256, 0.15);
  box-shadow: inset -1px -2px 3px rgba(256, 256, 256, 0.05);
}
.tile:hover {
  background: rgba(256, 256, 256, 0.2);
}
.tile img {
  width: 80px;
  max-width: 100%;
  transition: all 0.4s;
}
.tile:hover img {
  transform: scale(1.1);
}
.tile h4 {
  margin-bottom: 0;
  margin-top: 0.8em;
}
.grid {
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px 0;
}
.grid .col-6 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
